<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="height:100%" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="javascript framework, RIA, SPA, client SOA, linb, jsLinb, RAD, IDE, Web IDE, widgets, javascript OOP, opensource, open-source, Ajax, cross-browser, prototype, web2.0, platform-independent, language-independent" />
    <meta name="description" content="Web application created by Visual JS, powered by Sigma Visual framework" />
    <meta name="copyright" content="copyright@www.sigmawidgets.com" />
    <meta http-equiv="imagetoolbar" content="no" />
    <title>Web application powered by Sigma Visual framework</title>
</head>
    <body style="height:100%;overflow:hidden;" scroll="no">
        <div id='loading'><img src="../runtime/loading.gif" alt="Loading..." /></div>
        <script type="text/javascript" src="../runtime/jsLinb/js/linb-debug.js"></script>
        <script type="text/javascript">
{content}
linb.Com.load('{clsName}', function(){linb('loading').remove();});
        </script>




</body>
</html>